.industryexperience {
    font-size: 40px; /* Default for mobile */
  }

  .showcase {
    font-size: 48px;
  }

  #ProjectContent2 {
    position: absolute;
    bottom: 12%;
    left: 5%;
  }
  
  @media (min-width: 768px) { /* For laptops */
    .industryexperience {
      font-size: 60px;
    }
    .showcase {
      font-size: 60px;
    }
    
  }
  
     